/* Display Proprty */
/* div {
    display: block;
}
span {
    display: inline;
}
button {
    display: inline-block;
}
p {
    display: none;
} */

/* Positioning property */

#static {
    position:static;
}

#relative {
    /* position: relative; */
    /* position: absolute; */
    /* position: fixed; */
     position: sticky;
    /*top: 20px;
    left: 30px; */
    top: 0;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: blueviolet;
}

/* @media (min-width: 768px){
    div{
        background-color: red;
    }
}
@media (min-width: 576px){
    div{
        background-color: pink;
    }
}
@media (min-width: 922px){
    div{
        background-color: yellow;
    }
}
@media (min-width: 1200px){
    div{
        background-color: green;
    }
}
@media (max-width: 1200px){
    div{
        background-color:aqua;
    }
} */

@media(min-width:500px) and (max-width: 900px){
    body{
       background: green;
    }
}

@media(orientation: landscape){
    body {
        background: orange;
    }
}

@media(orientation: portrait){
    body {
        background: palevioletred;
    }
}

@media(prefers-color-scheme: dark){
    body {
        background:white;
        color: black;
    }
}
@media(prefers-color-scheme: light){
    body {
        background:black;
        color: white;
    }
}

