body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

button{
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

button:hover {
    background: black;
    color: white;
}
