.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.box2 {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: aqua;
    color:brown;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}